<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Editar Produto</h1>
        <form th:action="@{/atualizarProduto/{id}(id=${id})}" th:object="${produto}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}"><br>

            <label for="preco">Preço:</label>
            <input type="number" th:field="*{preco}" step="0.01"><br>

            <label for="quantidade">Quantidade:</label>
            <input type="number" th:field="*{quantidade}"><br>

            <button type="submit">Atualizar</button>
        </form>
    </div>
</body>
</html>

